
.container{
    margin: 0 auto;
    padding: 0 20px;
}
/* top-section */
.top-section{
    background-color: #161616;
    color: #FFF;
    padding: 10px 28px;
    border-radius: 10px;
}
.banner-top{
    display: flex;
    align-items: center;
}
.banner-title{
    width: 50%;
    padding: 20px 15px;
}
.banner-img{
    width: 50%;
}
.banner-title h1{
    font-size: 45px;
    font-weight: 700;
    font-family: Poppins;
}
.banner-title p{
    font-size: 14px;
    font-weight: 400;
    font-family: Poppins;
}
.banner-title a{
    text-decoration: none;
    color: #FFF;
}
.banner-title a button{
    padding: 10px 12px;
    background-color: #DD0000;
    color: #FFF;
    text-align: center;
    border: none;
    border-radius: 7px;
    margin-top: 25px;
}
.banner-img img{
    width: 450px;
    height: 550px;
    margin-left: 60px;
}
/* top-section End */
/* ===================== */
/* START-MAIN-BODY */
.main-section{
    margin-top: 25px;
}
.main-body{
 display: flex;
 padding: 25px 0;
}
.body-rigt{
   width: 30%;
}
.body-left{
    width: 70%;
}
.blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px 15px;
}
.button{
    display: flex;
    flex-direction: column;
    background-color: #161616;
    padding: 15px 25px;
    margin-right: 20px;
    border-radius: 8px;
}
.button a{
    text-decoration: none;
    margin: 15px auto;
}
.button button{
    background-color: #FFF;
    width: 252px;
    padding: 12px 15px;
    color: #161616;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}
.match{
 box-shadow: 10px 10px 8px 10px #f3ebeb;
 border-radius: 8px;
 padding: 10px;
 
}
/* .match-img img{
    width: 100%;
} */
.img{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.match-info{
    padding: 10px;
    text-align: center;
}
.match-info p{
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    color: #4D4D4D;
}


.match-info h4{
    font-size: 16px;
    font-weight: 600;
    font-family: Poppins;
    color: #161616;
}


.hide-button{
    padding: 10px 0;
    margin: 20px auto;
    text-align: center;
}
.hide-button a{
    text-decoration: none;
    
}
.hide-button button{
    font-size: 16px;
    padding: 10px 15px;
    background-color: #DD0000;
    color: #FFF;
    border: none;
    border-radius: 8px;
    visibility: hidden;
}
/* End Main-section */
/* ==================== */
/* SATAR FOOTER */
.footer-section{
    padding: 30px 10px;
    text-align: center;
    background-color: blueviolet
}
.footer h2{
    font-size: 25px;
    font-weight: 600;
    color: #FFF;
    margin: 25px;
}
.service{
    width: 60%;
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
    margin: 0 auto;
}
.service h4{
    text-align: center;
    padding: 10px;
    color: #FFF;
    font-weight: 400;
}
.socail-icon i{
    font-size: 25px;
    padding: 10px;
    color: #FFF;
}
hr{
    width: 80%;
    height: 2px;
    background-color: gray;
    margin: 10px auto;
    border: none;
}
/* -----End Main-Section---------- */
/* ========================= */
/* START MIDEA Queries*/
@media (max-width:576px){
    .container{
        margin: 0 auto;
    }
    /* top-section */
    .banner-top{
        display: block;
        align-items: center;
    }
    .banner-title{
        width: 100%;
    }
    .banner-img{
        width: 100%;
    }
    .banner-img img{
        width: 233px;
        height: 245px;
    }
    /* main-section */
    .main-body{
        display: block;
        padding: 25px 0;
       }
       .button{
        padding: 15px 10px;
        margin-bottom: 15px;
        background-color: #FFF;
  }
  .button button{
    background-color: #E8E8E8;
    width: 200px;
    padding: 12px 15px;
    color: #161616;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}
  /* blog */
  .blog{
    grid-template-columns: repeat(1,1fr);
}
/* footer */
.service{
    flex-direction: column;
}
}
/* tab-devices */
@media (min-width:576px) and (max-width:768px) {
    /* top-setion */
    .banner-img img{
    width: 330px;
    height: 480px;
    margin-left: 10px;
    }
    /* main-section */
    .main-body{
        display: block;
        padding: 25px 0;
       }
       .body-rigt{
          width: 100%;
       }
       .body-left{
           width: 100%;
       }
       .button{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        padding: 15px 0px;
        margin-right: 0px;
        background-color: #FFF;
        box-sizing: border-box;
       }
       .button button{
        box-shadow: 10px 10px 8px 10px #E8E8E8;
        padding: 12px 0;
        width: 230px;
        }
        .button a{
            margin-right: 5px;
        }
        /* blog */

        .blog{
            grid-template-columns: repeat(2,1fr);
        }
        .match-img img{
            width: 100%;
        }

        .hide-button button{
            visibility: visible;
        }
        /* footer-section */
        .service{
            flex-wrap: wrap;
        }
}